.git
.github
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.ipynb_checkpoints

agents
data
docs
notebooks
tests
ml_prep_kit/tests
model/*
!model/hospital_triage_model.onnx
mlruns
mlartifacts
*.db
